# dependencies
node_modules/
backend/.venv
# next.js
.next/
out/

# production
build/
dist/
__pycache__/
*.py[cod]
# editor
.vscode/*
!.vscode/extensions.json

# misc
.DS_Store
*.log
.env*
!.env.example
#local data
backend/*.db
